#educationMenuBar{
    background: -webkit-linear-gradient(#ffffff, #ffffff);
}

#educationMenuBar h3{
    color:black;
}

.menuLink:hover{

    font-weight: bold;
    
    background: -webkit-linear-gradient(#091e2b, #052329);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.educationLink{
    color:palegoldenrod;
}

#educationMainBody{
    background-color:rgb(255, 255, 255);
    margin:50px;
    border:10px solid rgb(0, 0, 0);
}

@media screen and (max-width: 860px){

    .educationImg{
     
        width:90% !important;
    }
}

#educationText{
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    margin:40px;

    


}

#educationSub{
    margin:30px;
}
