#projectMenuBar{

    font-weight: bold;
    
    background: -webkit-linear-gradient(#1a1919, #374346);
}

#projectMenuLink{

    color:white;

}

#projectMenuLink:hover{

    background: -webkit-linear-gradient(#8d9b3c, #bde60b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}